<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>Connexion à l'administration</title>
        <link rel="stylesheet" href="{{asset('build/app.css')}}">
        <style>
            body {
                display: flex;
                justify-content: center;
                height: 100vh;
            }

            .card {
                margin-top: 15%;
            }
        </style>
    </head>
    <body>
        <div class="col-md-4"> 
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">
                        <i class="fas fa-lock"></i>
                        Connexion à l'administration
                    </h4>
                </div>
                <div class="card-body">
                    {% if hasError %}
                        <div class="alert alert-warning">
                            <p>Les informations que vous avez fourni ne sont pas bonnes.</p>
                        </div>
                    {% endif %}

                    <form method="post">
                        <div class="form-group">
                            <label for="_username">Email</label>
                            <input type="text" class="form-control" placeholder="Adresse email..." name="_username" value="{{ username }}">
                        </div>
                        <div class="form-group">
                            <label for="_password">Mot de passe</label>
                            <input type="password" class="form-control" placeholder="Mot de passe..." name="_password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-lock-open"> </i> Se connecter</button>
                            <a href="{{ path('homepage') }}"class="btn btn-link"><i class="fas fa-arrow-circle-left"></i> Retour à la page d'accueil</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/81903b7a5d.js"></script>
    </body>

</html>
