<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">JaviBnB ADMIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_dashboard') }}"><i class="fas fa-chart-line"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_ads_index') }}"><i class="fas fa-hotel"></i> Annonces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_booking_index') }}"><i class="fas fa-folder"></i> Réservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_comment_index') }}"><i class="fas fa-comments"></i> Commentaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-users"></i> Utilisateurs</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}" target="_blank"><i class="fas fa-eye"></i> Voir le site</a>
            </li>
        {% if app.user %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                    <img src="{{ app.user.picture }}" class="avatar avatar-mini mr-1" alt="Avatar de {{ app.user.fullName}}">{{ app.user.fullName}}
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                    <a href="{{ path('admin_account_logout') }}" class="dropdown-item">Se déconnecter</a>
                </div>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes  %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}