@import url('./bootstrap.min.css');

div.container, div.container-fluid {
  margin-top: 20px;
}

div.ad-title {
  padding: 2em;
  background-size: cover;
  background-position: center;

  h1, p {
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  }

  .btn {
    margin-top: 2em;
    font-size: 1em;
    line-height: 1.5em;
  }
}

div.carousel-caption {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); 
}

.avatar {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;

  &.avatar-medium {
    max-width: 64px;
    max-height: 64px;
  }
  
  &.avatar-mini {
    max-width: 24px;
    max-height: 24px;
  }
}



.card-body a {
  text-decoration: none;
}

footer p {
  color: #fff;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
  background-color: rgb(151, 3, 3) !important;
  color: #fff !important;
}

span.rating i {
  color: #daa520;
}

.alert {
  a {
    text-decoration: none;
  }
  
  .btn {
    color: #fff;
  }
}

a.btn-info {
  color: #fff !important;
}