{% extends 'admin/base.html.twig' %}

{% block title %}Modification du commentaire n° {{comment.id}}{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="my-5">Modification du commentaire n° {{comment.id}}</h1>

    <div class="alert alert-info">
      <ul>
        <li class="mt-3"><strong>Annonce liée :</strong> {{comment.ad.title}}</li>
        <li><strong>Auteur :</strong> {{comment.author.fullName}}</li>
        <li><strong>Date de création :</strong> {{comment.createdAt | date('d/m/Y H:i')}}</li>
        <li><strong>Note donnée :</strong> {{comment.rating}}</li>
      </ul>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Enregistrer les modifications</button>
    {{ form_end(form) }}
  </div>


{% endblock %}