<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>JaviBnB | {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('build/app.css')}}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% include 'partials/header.html.twig' %}

        {% block body %}{% endblock %}
        
        {% include 'partials/footer.html.twig' %}



        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/81903b7a5d.js"></script>
        {% block javascripts %}{% endblock %}
    </body>

</html>
