{% extends 'base.html.twig' %}

{% block title %}Bienvenue à mon projet{% endblock %}

{% block body %}
  <div class="container">
    <div class="jumbotron mt-3">
      <h1 class="display-3">Bienvenue sur mon projet!!</h1>
      <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui voulent profiter d'opportunitées et gagner de l'argent en proposant leur bien en location.</p>
      <hr class="my-4">
      <p>Vous êtes voyageur ? Et vous voulez voir où vous pourrez loger pour votre prochain deplacement ?</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{path('ads_index')}}" role="button">Voir nos annonces</a>
      </p>
    </div>

    <h2 class="h1 my-5">Nos appartements stars</h2>

    <div class="row">
     {% for data in ads %}
      {% include 'ad/_ad.html.twig' with {'ad': data.annonce} %}
     {% endfor %}

    </div>

    <h2 class="h1 my-5">Nos propriétaires stars</h2>
    <div class="row">
    {% for data in users %}
    {% set u = data.user %}
      <div class="col">
        <div class="card border-secondary mb-3">
          <div class="card-body">
            <h4 class="card-title">{{u.fullName}}</h4>
            <hr>
            <div class="card-text">
              <img src="{{u.picture}}" alt="Avatar de {{u.fullName}}" class="float-left mr-3">
              <p>{{u.introduction}}</p>
              <a href="{{path('user_show', {'slug': u.slug})}}" class="btn btn-success float-right">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}