{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card bg-primary text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.users}} utilisateurs inscrits</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                 <div class="card bg-secondary text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-hotel fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.ads}} Annonces postées</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-warning text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-folder fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.bookings}} réservations enregistrés</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-success text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-comments fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.comments}} avis enregistrés</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="alert alert-success">
                    <h2 class="alert-heading my-3"><i class="fas fa-crown"></i> Les annonces populaires</h2>
                    <table class="table table-hover text-white">
                        <thead>
                            <tr>
                                <th>Annonce</th>
                                <th>Auteur</th>
                                <th>Moyenne</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ad in bestAds %}
                            <tr>
                                <td>{{ad.title}}</td>
                                <td>
                                    <img src="{{ad.picture}}" alt="" class="avatar avatar-mini">
                                    {{ad.firstName}} {{ad.lastName}}
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-dark">
                                        {{ad.note | number_format(1, ","," ")}}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-danger">
                    <h2 class="alert-heading my-3"><i class="far fa-thumbs-down"></i> Les pires annonces</h2>
                    <table class="table table-hover text-white">
                        <thead>
                            <tr>
                                <th>Annonce</th>
                                <th>Auteur</th>
                                <th>Moyenne</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ad in worstAds %}
                            <tr>
                                <td>{{ad.title}}</td>
                                <td>
                                    <img src="{{ad.picture}}" alt="" class="avatar avatar-mini">
                                    {{ad.firstName}} {{ad.lastName}}
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-dark">
                                        {{ad.note | number_format(1, ","," ")}}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
