{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
  <div class="container">
    <h1>Oups ! La page que vous recherchez n'existe pas !!!!</h1>
    <p>On a surement du mal vous reinseigner ! Aucun soucis, vous pouvez retourner vers la page d'aaceuil ou voir la liste de nos dernières annonces.</p>
    <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'Acceuil</a>
    <a href="{{ path('ads_index') }}" class="btn btn-warning">Retour à la liste des annonces</a>
  </div>

{% endblock %}